<!DOCTYPE html>
<html>

<head>
    <title>
        Dashboard page
    </title>
    <meta charset='utf-8' />

    <link rel="apple-touch-icon" sizes="180x180" href="/fav/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/fav/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/fav/favicon-16x16.png">
    <link rel="manifest" href="/fav/site.webmanifest">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <meta name="viewport"
        content="viewport-fit=cover, width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <link href='css/normalize.css' rel='stylesheet' />

    <link href='css/dashboard.css' rel='stylesheet' />





</head>

<body>
    <div class="page page_dashboard">
        <aside class="page_aside aside vertical">
            <div class="aside_logo">Sidebar</div>

            <nav class="vertical vertical_small">
                <a class="nav_button nav_bytton_active click" href="#">
                    <span class="icon nav_button_icon" style="background-image: url('/svg/home.svg')"></span>
                    <span class="text text_light">Home</span>
                </a>
                <a class="nav_button click" href="#">
                    <span class="icon nav_button_icon" style="background-image: url('/svg/orders.svg')"></span>
                    <span class="text text_light">Orders</span>
                </a>
                <a class="nav_button click" href="#">
                    <span class="icon nav_button_icon" style="background-image: url('/svg/products.svg')"></span>
                    <span class="text text_light">Products</span>
                </a>

            </nav>
        </aside>
        <header class="header">
            <div class="layout header_content text-small">
                <div class="header_search">
                    <input type="text" class="field fieid_header" placeholder="Search">
                    <span class="icon header_icon_search"
                        style="background-image: url('/svg/header/search.svg')"></span>
                    <span class="icon header_icon_seating icon_button icon_color_blue click"
                        style="background-image: url('/svg/header/seating.svg')"></span>

                </div>
                <div class="header_board_icon">
                    <span class="icon header_icon_nav icon_button icon_color_yellow click"
                        style="background-image: url('/svg/header/signal.svg')">
                    </span>
                    <span class="icon header_icon_nav icon_button icon_color_blue_light click"
                        style="background-image: url('/svg/header/simbol.svg')">
                    </span>
                    <span class="icon header_icon_nav icon_button icon_color_yellow click"
                        style="background-image: url('/svg/header/call.svg')">
                    </span>
                </div>

            </div>
        </header>
        <main class="main">
            <div class="layout">
                <section class="box analytic_block">
                    <div class="analytic analytic_double analytic_violet">
                        <span class="icon analytic_button icon_button icon_color_violet-dark click"
                            style="background-image: url('/svg/analytic/money.svg')">
                        </span>
                        <div class="analytic_content">
                            <div class="analylic_title text text_light">$500.00</div>
                            <div class="analylic_info text">Total earning</div>
                            <span class="icon analytic_arrow" style="background-image: url('/svg/analytic/arrow.svg')">
                        </div>
                    </div>

                    <div class="analytic analytic_double analytic_blue">
                        <span class="icon analytic_button icon_button icon_color_blue-dark click"
                            style="background-image: url('/svg/analytic/order.svg')">
                        </span>
                        <div class="analytic_content">
                            <div class="analylic_title text text_light">$961</div>
                            <div class="analylic_info text">Total Order</div>
                        </div>
                    </div>
                    <div class="analytic_small vertical analytic_blue">
                        <span class="icon analytic_button icon_button icon_color_blue-dark click"
                            style="background-image: url('/svg/analytic/money.svg')">
                        </span>
                        <div class="analytic_small_content">
                            <div class="text text_light analylic_title_small">$203k</div>
                            <div class="text analylic_info">Total Income</div>
                        </div>
                    </div>
                    <div class="analytic_small ">
                        <span class="icon analytic_button icon_button icon_color_yellow click"
                            style="background-image: url('/svg/analytic/shop.svg')">
                        </span>
                        <div class="analytic_small_content">
                            <div class="text analylic_title_small">$203k</div>
                            <div class="text ">Total Income</div>
                        </div>
                    </div>
                </section>
            </div>

            <div class="layout">
                <section class="main_content">
                    <div class="purchase_content">
                        <h2 class="title_text  text">Purchase list</h2>
                        <hr class="devider">
                        <div class="purchase_info_id text">
                            <div class="info_id text">
                                <span>ID437661</span>
                                <data>May 11,2023, 14:21</data>
                            </div>
                            <div class="info_id text">
                                <span>AirOn ProCam</span>
                                <span>7/8 USB Type-C</span>
                            </div>
                            <div class="info_id text">
                                <span>132.32 EUR</span>
                                <span class="text_danger">Not paid</span>
                            </div>
                            <div class="info_id text">
                                <span>Customer</span>
                                <a href="mailto:robin@com.de">robin@com.de</a>
                            </div>
                        </div>
                        <hr class="devider">
                        <div class="purchase_info_id text">
                            <div class="info_id text">
                                <span>ID437661</span>
                                <data>May 11,2023, 14:21</data>
                            </div>
                            <div class="info_id text">
                                <span>PHILIPS Essential</span>
                                <span>HD9200/90</span>
                            </div>
                            <div class="info_id text">
                                <span>543 USD</span>
                                <span class="text_success">Pay by Stripe</span>
                            </div>
                            <div class="info_id text">
                                <span>Customer</span>
                                <a href="mailto:dima@com.ua">dima@com.ua</a>
                            </div>
                        </div>

                    </div>
                    <div class="payment_content text">
                        <h2 class="title_text">Payment</h2>
                        <hr class="devider">
                        <div class="payment_type">
                            <div>
                                <input type="radio" name="card">
                                <label class="text">Credit card</label>
                            </div>
                            <div>
                                <input type="radio" name="card">
                                <label class="text">Debit card</label>
                            </div>
                            <div>
                                <input type="radio" name="card">
                                <label class="text">PayPal</label>
                            </div>
                        </div>

                        <div class="payment_card text">
                            <div class="card_field">
                                <span>Name on card</span>
                                <input type="text" class="field">
                            </div>
                            <div class="card_field">
                                <span>Credit card number</span>
                                <input type="text" class="field ">
                            </div>
                        </div>

                        <div class="payment_card">
                            <div class="card_field">
                                <span>Expiration</span>
                                <input type="text" class="field">
                            </div>
                            <div class="card_field">
                                <span>CVV</span>
                                <input type="text" class="field ">
                            </div>
                        </div>
                        <hr class="devider">
                        <div class="payment_card">
                            <div class="card_field">
                                <span>Country</span>
                                <div class="field field_select click">
                                    <span class="text-grey">Choose...</span>
                                    <span class="icon arrow_bottom"
                                        style="background-image: url('/svg/analytic/arrowBottom.svg')"></span>
                                    <select class="select_country">
                                        <option>Ukraine</option>
                                        <option>Germany</option>
                                        <option>England</option>
                                        <option>Canada</option>
                                    </select>
                                </div>

                            </div>
                            <div class="card_field">
                                <span>State</span>
                                <div class="field field_select click">
                                    <span class="text-grey">Choose...</span>
                                    <span class="icon arrow_bottom"
                                        style="background-image: url('/svg/analytic/arrowBottom.svg')"></span>
                                    <select class="select_country">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                    </select>
                                </div>

                            </div>
                        </div>
                        <button class="payment_button text">Continue to checkout</button>

                    </div>

                </section>

            </div>

        </main>
    </div>




</body>

</html>