<main class="p-5">
    <div class="card p-5">
        <p id="test">
            Hellow word!!!
        </p>
        <span class="test">Привет мир!!!!</span>
    </div>

    <div>BLOK</div>
    <div>BLOK</div>
    <div>BLOK</div>

    <div style="background: gold; padding: 10px;">
        <span class="block">INLANE-BLOCKdsfdsdfsadfsfsfsfsdsf</span>
        <span>INLANE</span>
        <span>INLANE</span>
    </div>

</main>