{{!--
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
--}}

{{!--
<div class="p-5 ">
    <h1>USB хаб TC 12 в 1 HDMI VGA AUX 3.5 mm</h1>
    <h2 id="user"> USB хаб TC 12 в 1 HDMI VGA AUX 3.5 mm</h2>
    <p>USB хаб TC 12 в 1 HDMI VGA AUX 3.5 mm</p>

    <button type="button" class="button">Купити</button>
</div>

<footer>
    <p>
        <em>fnskfnjfhjkskfhd</em>
    </p>
    <button type="button" class="button">Купити</button>
</footer> --}}

{{!--
Цей код містить лише те, що буде виводитись в


Адже наш layout/default.hbs має вже структуру HTML
--}}

{{!-- <div class="card m-2 card-dark">
    <ul>
        <li class="item">1</li>
        <li class="item">2</li>
        <li class="item">3</li>
        <li class="item">4</li>
    </ul>
</div> --}}



<div class="card m-5 p-5 card-dark">
    <input class="input-dark" required>
    <input class="input-dark">
    <input class="input-dark" type="number">
</div>

<div class="card m-5 p-5 card-dark">
    <img src="https://klike.net/uploads/posts/2019-01/1547367999_1.jpg" height="100" alt="image small card"
        class="small-img">
    <a href="https://klike.net/uploads/posts/2019-01/1547367999_1.jpg" rel="external">link</a>
    <button class="btn">home</button>
    <br />
    <a class="btn" href="https://klike.net/uploads/posts/2019-01/1547367999_1.jpg" rel="external">Home</a>
</div>

<div class="card m-5 p-5 card-dark">
    <p class="big-text">Слова what и which синонимичны и переводятся одинаково как «который, какой»</p>
</div>