{{!--
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
--}}

{{!--
<div class="p-5 ">
    <h1>USB хаб TC 12 в 1 HDMI VGA AUX 3.5 mm</h1>
    <h2 id="user"> USB хаб TC 12 в 1 HDMI VGA AUX 3.5 mm</h2>
    <p>USB хаб TC 12 в 1 HDMI VGA AUX 3.5 mm</p>

    <button type="button" class="button">Купити</button>
</div>

<footer>
    <p>
        <em>fnskfnjfhjkskfhd</em>
    </p>
    <button type="button" class="button">Купити</button>
</footer> --}}

{{!--
Цей код містить лише те, що буде виводитись в


Адже наш layout/default.hbs має вже структуру HTML
--}}

{{!-- <div class="card m-2 card-dark">
    <ul>
        <li class="item">1</li>
        <li class="item">2</li>
        <li class="item">3</li>
        <li class="item">4</li>
    </ul>
</div> --}}


{{!--
<div class="card m-5 p-5 card-dark">
    <input class="input-dark" required>
    <input class="input-dark">
    <input class="input-dark" type="number">
</div>

<div class="card m-5 p-5 card-dark">
    <img src="https://klike.net/uploads/posts/2019-01/1547367999_1.jpg" height="100" alt="image small card"
        class="small-img">
    <a href="https://klike.net/uploads/posts/2019-01/1547367999_1.jpg" rel="external">link</a>
    <button class="btn">home</button>
    <br />
    <a class="btn" href="https://klike.net/uploads/posts/2019-01/1547367999_1.jpg" rel="external">Home</a>
</div>

<div class="card m-5 p-5 card-dark">
    <p class="big-text">Слова what и which синонимичны и переводятся одинаково как «который, какой»</p>
</div> --}}

<div class="card m-3 p-3 card-dark">
    <a class="link"
        href="https://dspace.nau.edu.ua/bitstream/NAU/52736/1/%D0%9F%D0%BE%D0%BB%D1%96%D1%82%202019%20-%205_6.pdf">Click
        me</a>
</div>

<div lang="fr" class="card m-3 p-3 card-dark">
    <input>
</div>

<div id="test" lang="en" class="card m-3 p-3 card-dark">
    Якір
</div>

<div class=" m-3 p-3 card-dark">
    <button>Test button</button>
    <button disabled> Desaplad button</button>
</div>

<div class=" m-3 p-3 card-dark">
    <input class="inp m-2">
    <input class="inp m-2" disabled>
    <div class="mt-2">
        <div>
            <input type="checkbox" checked>
            <span>first checkbox</span>
        </div>
        <div>
            <input type="checkbox">
            <span>first checkbox</span>
        </div>
    </div>
</div>

<div class="m-3 p-3 card-dark">
    <div>
        <input type="email" required class="valid" placeholder="test">
    </div>
    <div class="mt-3">
        <input type="number" min="10" max="20" required class="number">
    </div>
</div>