 .card > p {
    color: rgb(238, 183, 111);
    -webkit-text-fill-color: blue;
    -webkit-text-stroke: 1px red;
 }
 
 
 p:focus,
 p:active, 
 p:hover { 
    -webkit-text-fill-color: rgb(0, 255, 64);
    -webkit-text-stroke: 1px rgb(0, 255, 55);
    direction: rtl;
       
}

#test {
    color: initial;
    -webkit-text-fill-color: initial;
    -webkit-text-stroke: 1px initial;
    /* writing-mode: vertical-lr; */
    text-align: justify;
    text-transform: lowercase;
    letter-spacing: 1em;
    text-decoration: underline  rgb(205, 19, 19);
}

* {
font-family: 'Roboto', sans-serif;
}

p {
    font-size: 40px;
    font-size: x-large;
    font-weight: 100;
    font-style: italic;
}

.test {
    display: block;
}

.block{
    display: block;
    background: chartreuse;
    margin: auto;
    width: fit-content;
}
/* .card{
    border-bottom: 10px dotted red;
    border-top: 10px solid blue;
    border-left: medium double orange;
    border-right: thick solid green;
    outline: 10px solid gold;
} */
.card{
    border: 5px dotted  red;
    border-radius: 10% 5% 25% 0%;
    box-shadow: 10px 5px 10px 5px rosybrown;
}
.card:hover{
    outline: 5px solid darkblue;
    outline-offset: 2px;
    cursor: pointer;
}

p{
    text-shadow: 10px 2px 2px rosybrown;
}

.block{
    line-height: 1.5;
}