 .card > p {
    color: rgb(238, 183, 111);
    -webkit-text-fill-color: blue;
    -webkit-text-stroke: 1px red;
 }
 
 
 p:focus,
 p:active, 
 p:hover { 
    -webkit-text-fill-color: blue;
    -webkit-text-stroke: 1px red;
    direction: rtl;
       
}

#test {
    color: initial;
    -webkit-text-fill-color: initial;
    -webkit-text-stroke: 1px initial;
    /* writing-mode: vertical-lr; */
    text-align: justify;
    text-transform:lowercase;
    letter-spacing: 1em;
    text-decoration: underline dotted red;
}