:root{
    --space-1: 12px;
    --space-2: 24px;
    --spase-3: 16px;

    --size-1: 12px;
    --size-2: 16px;
    --size-3: 20px;

    --color-border:#DEE2E6;
    --color-white: white;
    --color-violet: #563D7C;


}

.page{
    background: var(--color-white);
    padding: 0 var(--spase-3);

    display: flex;
    justify-content: center;
}

.page_content{
    max-width: 1300px;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 40px;

    
}

.header{
    padding: var(--space-2);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 1px 0px;
    gap: var(--space-1);
    justify-content: space-between;
    align-items: center;
    padding: var(--space-2);
    gap: 666px;
    border-bottom: 1px solid var(--color-border);

}

.header_logo{
    
    font-size: var(--size-2);
    font-weight: 700;
    background: #563D7C;
    padding: 10px var(--space-1);
    border-radius: 8px;
    color: white;
    
}

.header_nav{
    
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding: 0px;
    gap: var(--space-2);

}

.nav_link{
    color: #343A40;
    font-size: var(--size-2);
    text-decoration: none;
    
    font-weight: 400;
}
.nav_link:hover{
    text-decoration: underline;
    color:var(--color-violet);
}

 .nav_link:not(:last-child){
    margin-right: var(--space-2);
}

.nav_link:not(:last-child){
    margin-bottom: var(--space-1);
} 

.header_nav_right{
    margin-left: auto;
    width: fit-content;
}



.footer{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: var(--space-2) 0px;
    justify-content: space-around;
    border-top: 1px solid var(--color-border);
}
.footer_item{
    display: block;
    
}

.footer_logo{
    font-size: var(--size-2);
    font-weight: 700;
    background: var(--color-violet);
    padding: 10px var(--space-1);
    border-radius: 8px;
    color: var(--color-white);
}

.footer_copyright{
    font-size: var(--size-1);
    color:#6C757D;
    display: block;
    margin-top: var(--space-1);
}

.footer_nav{
        
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1px 0px;
    gap: var(--space-1);
    font-size: var(--size-2);
}
.footer_title{
    font-size: var(--size-3);
    color: #212529;
    display: block;
    margin-bottom: var(--space-1);
}



.main{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    max-width: 1000px;
    gap: 80px;
    padding: 0 80px;
    justify-content: center;
    
    
}

.main_content{
    display: flex;
    flex-direction: column;
    
}

.main_image{
    width: 500px;
    height: 500px;
    border-radius: 12px;
}

.main_title{
    color: #5A5A5A;
    font-weight: 500;
    font-size: 36px;
    margin-bottom: var(--space-2);
    display: block;
}

.main_text{
    color: #5A5A5A;
    font-weight: 400;
    font-size: var(--size-2);
    text-align: justify;
    margin-bottom: var(--space-2);
    align-items: center;
    line-height: 150%;
}

.main_button{
    background-color: #6C757D;
    border-radius: 4px;

    display: inline-block;
    padding: var(--space-1) 16px;
    color: var(--color-white);
    font-weight: 400;
    font-size: var(--size-2);
    text-decoration: none;
    
    text-align: center;
    width: 100%;
    max-width: 120px;
}

.main_button:hover{
    background-color: #b4b8b6;
}

.featured{
    display: flex;  
    flex-direction: row;
    gap: 36px;
    padding: 40px;
    border-bottom: 1px solid var(--color-border);
    width: 100%;
    max-width: 1000px;

  
}

.card{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
   
    width: 100%;
    max-width: 1000px;
  
    padding-left: var(--spase-3); 
    padding-right: var(--spase-3);
    gap: var(--spase-3);

}


.card_image{
    width: 64px;
    height: 64px;
    border-radius: 12px;

}

.card_title{
    color: #212529;
    font-weight: 500;
    font-size: 32px;

}

.card_text{
    color: #212529;
    font-weight: 400;
    font-size: var(--size-2);
    line-height: 150%;
   
    height: 110px;
 
}

.card_link{
    color: #0D6EFD;
    display: flex;
    flex-wrap: wrap;

    align-items: flex-end;
   
}
.card_link:hover{
    color: #053eb0;
}

.actions{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: var(--space-2);
    gap: var(--space-2);

    background: var(--color-violet);

    border-radius: 8px;
}

.actions_form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 0px 1px;
    gap: var(--space-1);
}

.actions_form_title{
    color:var(--color-white);
    font-weight: 400;
    font-size: 24px;
    line-height: 16px;
}

.actions_form_button{
    background: var(--color-white);
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--color-violet);
    font-weight: 400;
    font-size: 20px;

    width: 240px;
    height: 52px;
}

/* ---------------------------- */

