
:root{
    --space-m: 12px;
    --space-l: 24px;

    --size-s: 14px;
    --size-d: 16px;
    --size-l: 20px;

    --color-border:#DEE2E6;


}
/* ++++++++++++ */

.page {
    background: fff;
    padding: 0 15px;

    display: flex;
    justify-content: center;
}

.page_content {
    max-width: 1000px;
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 80px;

    /* padding-top: 74px; */
}
/* ++++++++++++ */

.header{
    padding: var(--space-l) 0;
    display: flex;
    border-bottom: 1px solid var(--color-border);
    
    justify-content: space-between;
    position: sticky;
    width: 100%;
    max-width: 960px;
    top: 0;
    /* left: calc(50% - 1200/2); */
    background-color: #FFFFFF;

    z-index: 1;
}


.logo{
    font-size: 17px;
    color: white;
    background-color: aqua;

    width: 24px;
    height: 24px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

 .nav{
    display: flex;
    

}

.nav_inline{
    gap: var(--space-l);
   
}

.nav_vertical {
    flex-direction: column;
    gap: var(--space-m);
    
}

.nav_link{
    color: #343A40;
    font-size: var(--size-d);
    text-decoration: none;

}
.nav_link:hover{
    text-decoration: underline;
    color: rgb(30, 9, 163);
}

/* .header_nav_right{
    margin-left: auto;
    width: fit-content;
} */



.footer {  
    border-top: 1px solid var(--color-border);
    display: flex;
    justify-content: space-between;
    padding: var(--space-l) 0;
}

.footer_copyright{
    font-size: 12px;
    color:#6C757D;
    display: block;
    margin-top: var(--space-m);
}

.footer_title{
    font-size: var(--size-l);
    color: #212529;
    display: block;
    margin-bottom: var(--space-m);
}


main{
    display: flex;
    width: 100%;
    align-items: flex-start;
    gap: 40px;
}
.messages{
    max-width: 620px;
    width: 100%;
    background-color: #FFFFFF;

    border-radius: 12px;
    box-shadow: 0px 4px 17px rgba(0, 0, 0, 0.1);
    padding: 24px;

    display: flex;
    flex-direction: column;
    gap: 24px;
}

.messages_title{
    font-weight: 400;
    font-size: 24px;
    color: #212529;

    padding-bottom: 24 px;
    border-bottom: 1px solid var(--color-border);

}

.messages_link{
    color: #007BFF;
    font-weight: 400;
    font-size: 14px;
    text-align: right;
    align-self: flex-end;
    text-decoration: none;

    transition: opacity 0.7s;

}
.messages_link:hover{
    opacity: 0.7;
    text-decoration: underline;
}

.msg{
    display: flex;
    flex-direction: column;
    gap: 12px;

    position: relative;
    padding-bottom: 24 px;
    border-bottom: 1px solid var(--color-border);

    padding-right: 36px;

}

.msg_name{
    font-weight: 700;
    font-size: 16px;
    color: #212529;

}

.msg_text{
    font-weight: 400;
    font-size: 16px;
    color: #212529;

}

.msg_day{
    position: absolute;
    right: 0;
    top: 0;

}


.form{
    max-width: 340px;
    width: 100%;
    background-color: #FFFFFF;

    border-radius: 12px;
    box-shadow: 0px 4px 17px rgba(0, 0, 0, 0.1);
    padding: 24px;

    display: flex;
    flex-direction: column;
    gap: 24px;

}
.form_title{
    color: #212529;
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
}

.form_info{
    color: #6C757D;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.form_button{
    text-align: center;
    padding: 12px;
    background: #0D6EFD;
    border: 1px solid #0D6EFD;
    border-radius: 4px;

    transition: opacity 0.7s;
}

.form_button:hover{
    opacity: 0.7;
}
.form_input_list{
    display: flex;
    gap: 12px;
    flex-direction: column;
}
.form_input{
    padding: 16px;
    background: #FFFFFF;
    border: 1px solid #CED4DA;
    border-radius: 4px;
}
.form_input::placeholder{
    color: #212529;
    font-weight: 400;
    font-size: 16px;
}

.form_checkbox_blok{
    display: flex;
    align-items: center;
    gap: 8px;
}


.advantages{
    display: flex;
    gap: 24px;
}

.advantages > div{
    display: flex;
    flex-direction: column;

    border: 1px solid #E4EAF2;
    border-radius: 12px;
    padding: 22px;
    gap: 9px;

    width: 100%;
}

.advantages > div >strong{
    font-weight: 700;
    font-size: 18px; 
    color: #212529;   
}

.advantages > div > p{
    color: #767676;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px
}