@keyframes fly{
    from{
        top: 0;
        left: 0;
        background: #5A5A5A;
    }
    25%{
        top: 500px;
        left: 500px;
        background: blue;
    }
    50%{
        left: 0;
        background: red;
    }
    to{
        top: 0;
        left: 0;
        background: yellowgreen;
    }
}
:root{
    --space-m: 12px;
    --space-l: 24px;

    --size-s: 14px;
    --size-d: 16px;
    --size-l: 20px;

    --color-border:#DEE2E6;


}
/* ++++++++++++ */

.page {
    background: fff;
    padding: 0 15px;

    display: flex;
    justify-content: center;
}

.page_content {
    max-width: 960px;
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 80px;

    padding-top: 74px;
}
/* ++++++++++++ */

.header{
    padding: var(--space-l) 0;
    display: flex;
    border-bottom: 1px solid var(--color-border);
    
    justify-content: space-between;
    position: sticky;
    width: 100%;
    max-width: 960px;
    top: 0;
    /* left: calc(50% - 1200/2); */
    background-color: #FFFFFF;

    z-index: 1;
}


.logo{
    font-size: 17px;
}

.divider{
    margin: 10px;
   
    height: 1px;
    background: var(--color-border);
} 
.nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.nav_inline{
    gap: var(--space-l);
}

.nav_vertical {
    flex-direction: column;
    gap: var(--space-m);
    
}

.nav_link{
    color: #343A40;
    font-size: var(--size-d);
    text-decoration: none;

}
.nav_link:hover{
    text-decoration: underline;
    color: rgb(30, 9, 163);
}

.header_nav_right{
    margin-left: auto;
    width: fit-content;
}



.footer {  
    display: flex;
    flex-direction: column;
    padding: var(--space-l) 0;
}

.footer_copyright{
    font-size: 12px;
    color:#6C757D;
    display: block;
    margin-top: var(--space-m);
}

.footer_title{
    font-size: var(--size-l);
    color: #212529;
    display: block;
    margin-bottom: var(--space-m);
}


.hero{
    display: flex;
    align-items: center;
    gap: 36px;
    padding: 40px;
    border-bottom: 1px solid var(--color-border);

}

.hero_image{
    width: 500px;
    height: 500px;
    border-radius: 12px;
}

.hero_content{
    display: flex;
    flex-direction: column;

    gap: var(--space-l);

}

.hero_title{
    font-size: 50px;
    color: #5A5A5A;
    font-weight: 500;
    line-height: 120%;
}

.hero_text {
    color: #5A5A5A;
    font-weight: 400;
    font-size: 20px;
    line-height: 170%;
}

.blog {
    display: flex;
    gap: 36px;
    padding: 40px;
    border-bottom: 1px solid var(--color-border);
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 24px;
}

.card_image{
    width: 140px;
    height: 140px;
    border-radius: 50%;

}

.card_title{
    color: #5A5A5A;
    font-size: 32px;
    font-weight: 400;
    
}

.card_text{
    font-weight: 400;
    font-size: 16px;
    color: #5A5A5A;
    
}

.card_button{
    display: inline-block;
    padding: 12px 16px;
    color: white;
    font-size: 16px;
    text-decoration: none;
    background-color: blue;
    border-radius: 4px;
}

.form{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rebeccapurple;
    border-radius: 8px;
    padding: 24px;
}

.form_content{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.form_title{
    color: #FFFFFF;
    font-weight: 400;
    font-size: 27px;
}
.form_info{
    color: rgba(255, 255, 255, 0.5);
    font-weight: 400;
    font-size: 16px;
}

.form_button{
    display: inline-block;
    padding: 12px 50px;
    color: #212529;
    font-weight: 400;
    font-size: 18px;
    text-decoration: none;
    background-color: white;
    border-radius: 4px;
    width: 100%;
    max-width: 160px;
}

/* -----position----- */


/* .hero_image{
    position: relative;
    left: 15px;
    position: absolute;
    right: 0;
    top: 100%;;
} */
/* .hero{
    position: relative;
}  */

.hero_slider_icon{
    width: 30px;
    height: 30px;
    background-color: rgb(33, 30, 177);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    color: white;

    position: absolute;
    top: calc(50% - 15px);

}

.hero_slider_icon:hover{
    opacity: 0.5;
    cursor: pointer;
}

.hero_slider{
    position: relative;
}

.hero_slider_left{
    left: 10px;
}

.hero_slider_right{
    right: 10px;
}

.modal{
    position: fixed;
    top: 100px;
    left: 100px;
    /* height: 100px; */
    width: 400px;
    color: #FFFFFF;
    background: #6C757D;
    border-radius: 12px;
    padding: 24px;
    z-index: 2;

   /* transition-property: top;
    transition-duration: 5s;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);

    transition-delay: 3s;  */
}
body:hover .modal{
    /* top: 300px; */
    animation-name: fly;
    animation-duration: 2s;
    animation-timing-function: cubic-bezier(0.87, 0.07, 0.92, 0.16);

    animation-direction: reverse;

    animation-fill-mode: forwards;
}

.modal_image{
    height:50px ;
    width: 300px;
    float: left;
    margin-right: 12px;
    margin-top: 12px;

    object-fit: cover;
    object-position: center;
}

.modal_text{
    clear: left;

}

.hero{
    user-select: none;
}